// override browser default
html,
body {
  margin: 0;
  padding: 0;
}

// use viewport-relative units to cover page fully
body {
  height: 100vh;
  width: 100vw;
}

// include border and padding in element width and height
* {
  box-sizing: border-box;
}

// Override overflow styles set by the "ress" css-reset, which is (probably) a dependency of Vuetify.
// The values this reset sets makes the vertical scrollbar appear in Firefox.
html {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

// Colors
$invert-bg-color: black;
$invert-fg-color: #dfdfdf;
$invert-fg-accent-color: #6babd7;

$map-marker-color: #f2af00;
$map-popup-bg-color: #ffdc80;
$badge-color: $map-marker-color;
