<template>
  <div id="page-index">
    <Map ref="map-component"/>
  </div>
</template>

<style lang="scss">
#page-index {
  position: relative;
  height: 100vh;
  width: 100vw;
}
</style>

<script>
export default {
  name: 'IndexPage',
  methods: {
    resetView: function () {
      this.$refs['map-component'].resetView();
    },
  }
}
</script>
