<template>
  <div>

    <v-btn icon class="opener-button">
      <v-icon>mdi-web</v-icon>
      {{ $i18n.locale }}
    </v-btn>

    <v-menu bottom left v-model="open" activator=".opener-button">
      <v-list>
        <v-list-item
          v-for="locale in $i18n.locales"
          :key="locale.code"
          :input-value="$i18n.locale === locale.code"
          :href="switchLocalePath(locale.code)"
        >
          <v-list-item-content>
            <v-list-item-title>
              <v-chip small class="locale-code-chip">{{ locale.code }}</v-chip>
              {{ locale.name }}
            </v-list-item-title>
          </v-list-item-content>

        </v-list-item>
      </v-list>
    </v-menu>

  </div>
</template>

<style lang="scss">
.locale-code-chip {
  width: 35px;
  justify-content: center;
  border: 1px solid #555;
}
</style>

<script>
export default {
  data: () => ({
    open: false,
  })
}
</script>
