<template>
  <div id="map-container">

    <div id="map"></div>

    <v-btn id="button-filter" @click="toggleFilterPanel" elevation="2" fab large color="primary">
      <v-badge dot :value="filter !== 'all'">
        <v-icon>mdi-magnify</v-icon>
      </v-badge>
    </v-btn>

    <v-navigation-drawer app right temporary width="400" v-model="filterPanelVisible">
      <v-list nav dense class="filter-list">
        <v-list-item-group mandatory v-model="filter">
          <v-list-item link
                       v-for="filterItem in filterList"
                       :key="filterItem.key"
                       :value="filterItem.key"
                       @click="filterPanelVisible = false"
                       :class="`filter---${filterItem.key}`"
          >
            <v-list-item-icon>
              <v-icon>{{ filterItem.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-if="filterItem.key === 'all'" class="filter-name">
                Show all
              </v-list-item-title>
              <v-list-item-title v-else class="filter-name">
                {{ $t(`services.${filterItem.key}`) }}
              </v-list-item-title>

            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <div ref="selected-poi-popup" style="display:none;">
      <MapPopup v-if="selectedPoi" v-bind="selectedPoi.properties"/>
    </div>

  </div>
</template>

<style lang="scss">
@import "/src/assets/css/main.scss";

#map-container {
  position: relative;
  height: 100%;
  width: 100%;

  #map {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: clip;

    .maplibregl-ctrl-attrib {
      font-size: 11px;
    }
  }

  #button-filter {
    position: absolute;
    top: -20px;
    right: 20px;
    background-color: $invert-fg-accent-color !important;

    .v-badge__badge {
      background-color: $badge-color !important;
    }
  }

  .filter-list {

    .filter-name {
      white-space: normal;
    }

    .filter---all {
      font-style: italic;
    }
  }
}

// Reset CSS from maplibre's stylesheet
.maplibregl-map {
  font: inherit;
}
</style>

<script>
import maplibregl from 'maplibre-gl'
import mapPoiTest from "@/assets/map/pois.json";
import serviceList from "@/assets/map/service-list.json";
import "@/../node_modules/maplibre-gl/dist/maplibre-gl.css";

export default {
  data() {
    let filterList = Object.entries(serviceList).map(([key, fields]) => {
      return {
        'key': key,
        'icon': fields['icon'],
      }
    });
    filterList.unshift({
      'key': 'all',
      'icon': 'mdi-close-thick',
    })
    return {
      filterList: filterList,
      filter: 'all',
      filterPanelVisible: false,
      map: null,
      selectedPoi: null,
      lastPopup: null,
      defaultCenter: [9.191389, 45.464167],
      defaultZoom: 11,
    }
  },
  mounted() {
    this.map = this.createMap();
  },
  watch: {
    filter: function (filterKey) {
      let filter = null;
      if (filterKey !== 'all') {
        filter = ['in', filterKey, ['get', 'services']];
      }
      this.map.setFilter('pois', filter);
      if (this.lastPopup) {
        this.lastPopup.remove();
        this.lastPopup = null;
      }
    }
  },
  methods: {
    toggleFilterPanel: function () {
      this.filterPanelVisible = !this.filterPanelVisible
    },
    resetView: function () {
      this.map.setCenter(this.defaultCenter);
      this.map.setZoom(this.defaultZoom);
      this.filter = 'all';
    },
    createMap: function () {
      let map = new maplibregl.Map({
        container: 'map',
        style: `https://api.maptiler.com/maps/e7b1cb6e-f31a-474e-9201-1f80bef5d2a3/style.json?key=USaf7z5Kvlt2qz4ONjD8`,
        center: this.defaultCenter,
        zoom: this.defaultZoom,
        maxZoom: 19,
        maxPitch: 0,
        dragRotate: false,
        hash: 'map',
      });

      // Disable map rotation using right click + drag
      map.dragRotate.disable();

      // Disable map rotation using touch rotation gesture
      map.touchZoomRotate.disableRotation();

      // Add controls
      let controlsLocation = 'bottom-right'
      map.addControl(
        new maplibregl.ScaleControl({}),
        controlsLocation,
      );
      map.addControl(
        new maplibregl.NavigationControl({showCompass: false}),
        controlsLocation
      );
      map.addControl(
        new maplibregl.GeolocateControl({positionOptions: {enableHighAccuracy: true}}),
        controlsLocation,
      );

      // Change cursor to 'pointer' when hovering over circles or clusters
      map.on('mouseenter', 'pois', () => {
        map.getCanvas().style.cursor = 'pointer';
      });
      map.on('mouseleave', 'pois', () => {
        map.getCanvas().style.cursor = '';
      });

      // Open popup when clicking on a marker
      map.on('click', 'pois', (e) => {
        let feature = e.features[0];
        // Workaround because nested properties are returned in JSON-stringified form here.
        // See https://github.com/mapbox/mapbox-gl-js/issues/2434
        for (let prop of ["services", "coords"]) {
          feature.properties[prop] = JSON.parse(feature.properties[prop]);
        }

        let coordinates = feature.geometry.coordinates.slice();
        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        // Render the selected-poi and show it in a popup
        this.selectedPoi = feature;
        this.$nextTick(() => {
          let html = this.$refs["selected-poi-popup"].innerHTML;
          let popup = new maplibregl.Popup({
            'maxWidth': '300px',
          })
            .setLngLat(coordinates)
            .setHTML(html)
            .addTo(map);
          this.panMapToMakePopupVisible(popup);
          this.lastPopup = popup;
        });
      });

      // Add data
      map.on('load', function () {
        map.addSource('pois', {type: 'geojson', data: mapPoiTest});
        map.addLayer({
          "id": "pois",
          "type": "circle",
          "source": "pois",
          "paint": {
            "circle-color": "#f2af00",
            "circle-radius": 10,
            "circle-stroke-color": "#fff",
            "circle-stroke-width": 2
          },
        });
      });

      return map
    },
    panMapToMakePopupVisible: function (popup) {
      let pan = [0, 0];
      let point = this.map.project(popup._lngLat);
      let popupSize = {
        width: popup._container.clientWidth,
        height: popup._container.clientHeight,
      };
      let popupRect = popup._container.getBoundingClientRect();
      let mapRect = popup._container.parentElement.getBoundingClientRect();

      // Center point horizontally to make the popup visible, if needed
      let popupClippedHorizontally = popupRect.left < 0 || (mapRect.width - popupRect.left - popupSize.width) < 0;
      if (popupClippedHorizontally) {
        pan[0] = point.x - (mapRect.width / 2);
      }

      // Move point to the top to make the popup visible, if needed
      let popupClippedVertically = popupRect.top < 0 || (mapRect.height - popupRect.top - popupSize.height) < 0;
      if (popupClippedVertically) {
        pan[1] = point.y - ((mapRect.height - popupRect.height) / 2);
      }

      if (pan !== [0, 0]) {
        this.map.panBy(pan);
      }
    }
  }
}
</script>
