<template>
  <div class="popup">
    <div class="popup-main">
      <h3 class="popup-title">{{ name }}</h3>
      <div class="services">
        <div class="service" v-for="serviceKey in services" dense :key="serviceKey">
          <v-icon>{{ serviceData(serviceKey)['icon'] }}</v-icon>
          <div class="service-name">{{ $t(`services.${serviceKey}`) }}</div>
        </div>
      </div>
      <div class="description" v-if="description">{{ description }}</div>
    </div>
    <div class="popup-footer">
      <div class="fields">
        <div class="field field-openingHours" v-if="openingHours">
          <v-icon small>mdi-clock-outline</v-icon>
          <div>{{ openingHours }}</div>
        </div>
        <div class="field field-address" v-if="address">
          <v-icon small>mdi-map-marker-outline</v-icon>
          <a :href="`https://www.google.com/maps/search/?api=1&query=${address}`" target="_blank">{{ address }}</a>
        </div>
        <div class="field field-email" v-if="email">
          <v-icon small>mdi-email-outline</v-icon>
          <a :href="`mailto:${email}`">{{ email }}</a>
        </div>
        <div class="field field-phone1" v-if="phone1">
          <v-icon small>mdi-phone-outline</v-icon>
          <a :href="`tel:${phone1}`">{{ phone1 }}</a>
        </div>
        <div class="field field-phone2" v-if="phone2">
          <v-icon small>mdi-phone-outline</v-icon>
          <a :href="`tel:${phone2}`">{{ phone2 }}</a>
        </div>
        <div class="field field-website" v-if="website">
          <v-icon small>mdi-link-variant</v-icon>
          <a :href="website" target="_blank">{{ website }}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "/src/assets/css/main.scss";

.maplibregl-popup {
  .maplibregl-popup-tip {
    border-bottom-color: $map-popup-bg-color;
  }

  .maplibregl-popup-content {
    padding: 0;
    border-radius: 4px;

    .maplibregl-popup-close-button {
      width: 20px;
      height: 20px;
    }

    .popup {
      font-size: 12px;


      .popup-main {
        padding: 15px;
        padding-bottom: 10px;
        background: $map-popup-bg-color;
        border-radius: 4px 4px 0 0;

        .popup-title {
          line-height: 1.3em;
        }

        .service {
          display: flex;
          padding: 0;

          .v-icon {
            align-items: baseline;
            margin-right: 3px;
            font-size: 18px;
          }

          .service-name {
            white-space: normal;
            padding: 0;
          }
        }

        .description {
          padding-top: 4px
        }
      }

      .popup-footer {
        padding: 15px;
        padding-top: 10px;

        .fields {
          .field {
            display: flex;

            .v-icon {
              align-items: baseline;
              margin-right: 3px;
              margin-top: 3px;
            }
          }
        }
      }
    }

  }
}
</style>

<script>
import serviceList from "@/assets/map/service-list.json";

export default {
  props: {
    name: String,
    address: String,
    city: String,
    openingHoursIt: String,
    openingHoursEn: String,
    openingHoursUk: String,
    email: String,
    phone1: String,
    phone2: String,
    website: String,
    descriptionIt: String,
    descriptionEn: String,
    descriptionUk: String,
    coords: Array,
    services: Array,
  },
  computed: {
    description: function () {
      return this.fieldTranslated('description')
    },
    openingHours: function () {
      return this.fieldTranslated('openingHours')
    }
  },
  methods: {
    serviceData: function (serviceKey) {
      if (!(serviceKey in serviceList)) {
        throw new Error(`Unexpected service-key "${serviceKey}"`);
      }
      return serviceList[serviceKey];
    },
    fieldTranslated: function (fieldNameBase) {
      let fieldNameTranslated = this.fieldTranslatedWithLanguage(fieldNameBase, this.$i18n.locale)
      let fieldNameDefault = this.fieldTranslatedWithLanguage(fieldNameBase, this.$i18n.defaultLocale)
      return fieldNameTranslated || fieldNameDefault || null
    },
    fieldTranslatedWithLanguage: function (fieldNameBase, lang) {
      let fieldName = fieldNameBase + lang[0].toUpperCase() + lang.substring(1)
      return this[fieldName]

    }
  }
}
</script>
