<template>
  <v-app id="layout-wrapper">
    <v-app-bar flat height="60" extension-height="20" class="header">

      <NuxtLink :to="localePath('/')" @click.native="resetView" class="logo-link">
        <v-toolbar-title class="logo-container">
          <img class="logo-img" src="@/assets/images/rwi-hands.png" alt="Refugees Welcome Italia"/>
          <div class="logo-border">
            <span class="logo-text">{{ $t('name') }}</span>
          </div>
        </v-toolbar-title>
      </NuxtLink>

      <v-app-bar-nav-icon @click="drawerOpen = true">
        <v-icon>mdi-information-outline</v-icon>
      </v-app-bar-nav-icon>
      <LanguageMenu/>
      <template v-slot:extension>
        <div class="slogan">
          {{ $t('slogan') }}
        </div>
      </template>
    </v-app-bar>

    <v-navigation-drawer v-model="drawerOpen" absolute temporary width="350" id="menu-about">

      <v-container class="menu-header">
        <v-row>
          <v-spacer></v-spacer>
          <v-btn icon @click="drawerOpen = false" class="menu-close-button">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-row>
      </v-container>

      <v-list nav dense class="menu-content">
        <v-list-item>
          <v-list-item-content>
            <i18n path="about.run-by-refugees-welcome" tag="span">
              <template v-slot:refugees-welcome>
                <a href="https://refugees-welcome.it/" target="_blank">Refugees Welcome Italia</a>
              </template>
            </i18n>
            <i18n path="about.feedback" tag="span">
              <template v-slot:email>
                <a href="mailto:milano.emergenza.ucraina@gmail.com"
                   target="_blank">milano.emergenza.ucraina@gmail.com</a>
              </template>
            </i18n>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>
            <i18n path="about.website-of-comune" tag="span">
              <template v-slot:milano-aiuta>
                <a href="https://www.comune.milano.it/web/milanoaiuta" target="_blank">Milano Aiuta</a>
              </template>
            </i18n>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>
            <i18n path="about.source-code" tag="span">
              <template v-slot:gitlab>
                <a href="https://gitlab.com/njam/rwi-map" target="_blank">Gitlab</a>
              </template>
            </i18n>
          </v-list-item-content>
        </v-list-item>
      </v-list>

    </v-navigation-drawer>

    <Nuxt ref="main-content"/>
  </v-app>
</template>

<style lang="scss">
@import "/src/assets/css/main.scss";

#layout-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;

  .header {
    background-color: $invert-bg-color;

    a.logo-link {
      text-decoration: none;
      display: flex;


      .logo-container {
        position: relative;
        color: $invert-fg-accent-color;
        background-color: $invert-bg-color;
        margin-left: -5px;

        .logo-img {
          position: absolute;
          left: 1px;
          top: 1px;
          height: 35px;
        }

        .logo-border {
          border: 3px solid;
          border-radius: 999px;
          padding: 0 0.3em 1px 35px;

          .logo-text {
            font-size: 1.0rem;
            font-family: "Arial", sans-serif;
            font-weight: bold;
            @media (min-width: 400px) {
              font-size: 1.25rem;
            }
          }
        }

      }
    }

    button {
      color: $invert-fg-accent-color;
    }

    .slogan {
      margin-top: -14px;
      font-size: 14px;
      color: $invert-fg-accent-color;

      @media (min-width: 400px) {
        font-size: 16px;
      }
    }
  }

  #menu-about {
    word-break: break-word;

    .menu-header {
      .menu-close-button {
        margin: 3px;
      }
    }

    .menu-content {
      padding-top: 0;
    }
  }
}

</style>


<script>
export default {
  data: () => ({
    drawerOpen: false,
  }),
  methods: {
    resetView: function () {
      let page = this.$refs['main-content'].$children[0];
      if (!page.resetView) {
        throw new Error(`Missing function resetView() on the page instance "${page._name}".`);
      }
      page.resetView();
    },
  }
}
</script>
